body{font-family: sans-serif; padding-left: 150px;}
.balk{width: 1200px; height: 40px; background-color: #ffb6c1;}
.titel{text-align: left; font-family: sans-serif;}
.beschrijving{}
.image-cookie{left:1200px; margin-top: -400px; position:absolute; float: right;}
.food1-image{left:820px; margin-top: -225px; position:absolute; float: right;}
.footer{width: 1200px; height: 200px; background-color:grey;}


