
.balk{width: 1200px;
    height: 40px;
    background-color: #ffb6c1;
}
.titel{text-align: left;
    font-family: sans-serif;
}
* {
    box-sizing: border-box;
}
body{font-family: sans-serif;;
    background-repeat:repeat;  line-height: 24px; }
img.article {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 303px;
}
/*sectie article*/
article {
    display: inline-block;
    width: 33%;
    padding-right: 15px;
    vertical-align: top;

}


